<div ng-controller="HomeController as home">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <span class="navbar-brand" href="#page-top">Twitter Analytics</span>
            </div>
             <div class="nav navbar-nav navbar-right">
             	<a ng-show="home.language!='es'" href="#" ng-click="home.changeLanguage('es')" >Spanish</a>
                <a ng-show="home.language!='en'" href="#" ng-click="home.changeLanguage('en')" >English</a>
            </div>
        </div>
           
        <!-- /.navbar-collapse -->
    </nav>
	<div class="container">
		
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="intro-text">
                    <h1><span class="name">Twitter Analytics</span></h1>
                    <span class="skills"><span translate="FUNC_PRINCIPAL"></span></span>
                    <br/>
                    <div class="col-lg-6 text-center col-lg-offset-3">
                    	<span class="skills-small"><span translate="FUNC"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>

		<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="PROYECTOS"></span></h2>
            </div>
        </div>
	   	<div class="row">
		    <div class="col-lg-6 col-lg-offset-1">
		    	<h4>Diversidad Funcional</h4>
		    	<iframe style="border:1px solid #999" src="//player.vimeo.com/video/99681649" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			    <a href='/projects' class="btn btn-default" ng-click="home.setProjectName('guiem_df')"><span translate="VER_PROYECTO"></span></a><br/>
			</div>
			<div class="col-lg-4">
	        	<h4>Europeas 2014 PRE</h4>
	        	<p><span translate="EUROPEAS_PRE"></span></p>
	        	<a href='/projects' class="btn btn-default" ng-click="home.setProjectName('rocio_euPre')"><span translate="VER_PROYECTO"></span></a><br/>
	        	<h4>Europeas 2014 POST</h4>
	        	<p><span translate="EUROPEAS_POST"></span></p>
			    <a href='/projects' class="btn btn-default" ng-click="home.setProjectName('rocio_euPost')"><span translate="VER_PROYECTO"></span></a><br/>
			    <h4>Esperanto en Twitter</h4>
	        	<p><span translate="ESPERANTO"></span></p>
			    <a href='#' disabled class="btn btn-default"><span translate="VER_PROYECTO"></span></a> <span translate="EN_CURSO"></span><br/>
	        </div>
		</div>
	    <hr>

	    <div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="DESCARGAS"></span></h2>
            </div>
        </div>
	    <div class="row">
		    <div class="col-lg-4 col-lg-offset-2">
	        	<p><span translate="APP_ESCRITORIO"></span></p>
	        </div>
	        <div class="col-lg-4">
	        	<p>
	        		<span translate="DESARROLLO"></span>
	        	</p>
	        	<a href="#" class="btn btn-lg btn-outline-na">
		        	<i class="fa fa-download"></i> <span translate="DESCARGA_APP"></span>
		        </a>
	        </div>
    	</div>
    	<hr>

    	<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="COLABORA"></span></h2>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-lg-offset-2">
	        	<p><span translate="COLABORA_TEXTO"></span></p>
	        </div>
	        <div class="col-lg-4">
	        	<p><span translate="COLABORA_DESCARGA"></span></p>
        		<a href="https://github.com/guiem/TwitterAnalytics" class="btn btn-lg btn-outline"><i class="fa fa-github"></i> <span translate="CODIGO"></span></a>
        	</div>
        </div>
        <hr>

		<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="CONTACTO"></span></h2>
            </div>
        </div>        
	    <div class="row text-center">
	    	<p><span translate="CONTACTO_URL"></span></p>
	    </div>
	    <hr>
	</div>
</div>   