<div ng-controller="HomeController as home">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <span class="navbar-brand" href="#page-top">Twitter Analytics</span>
            </div>
             <div class="nav navbar-nav navbar-right">
             	<a ng-show="home.language!='es'" href="#" ng-click="home.changeLanguage('es')" >Spanish</a>
                <a ng-show="home.language!='en'" href="#" ng-click="home.changeLanguage('en')" >English</a>
            </div>
        </div>
           
        <!-- /.navbar-collapse -->
    </nav>
	<div class="container">
		<div class="row">
	    	<div class="col-lg-12 text-center">
                <h1>Twitter Analytics</h1>
            </div>
        </div>
        <div class="row">
        </div>
        <hr>

		<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="PROYECTOS"></span></h2>
                <hr class="star-primary">
            </div>
        </div>
	   	<div class="row">
		    <div class="col-lg-4 col-lg-offset-2">
			    <a href='/projects' ng-click="home.setProjectName('guiem_df')">Diversidad Funcional</a><br/>
			    <a href='/projects' ng-click="home.setProjectName('rocio_euPre')">Europeas PRE</a><br/>
			    <a href='/projects' ng-click="home.setProjectName('rocio_euPost')">Europeas POST</a><br/>
			</div>
		</div>
	    <hr>

	    <div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="DESCARGAS"></span></h2>
            </div>
        </div>
	    <div class="row">
		    <div class="col-lg-4 col-lg-offset-2">
	        	<p><span translate="APP_ESCRITORIO"></span></p>
	        </div>
	        <div class="col-lg-4">
	        	<p>
	        		<span translate="DESARROLLO"></span>
	        	</p>
	        	<a href="#" class="btn btn-lg btn-outline-na">
		        	<i class="fa fa-download"></i> <span translate="DESCARGA_APP"></span>
		        </a>
	        </div>
    	</div>
    	<hr>

    	<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="COLABORA"></span></h2>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-lg-offset-2">
	        	<p><span translate="COLABORA_TEXTO"></span></p>
	        </div>
	        <div class="col-lg-4">
	        	<p><span translate="COLABORA_DESCARGA"></span></p>
        		<a href="https://github.com/guiem/TwitterAnalytics" class="btn btn-lg btn-outline"><i class="fa fa-github"></i> <span translate="CODIGO"></span></a>
        	</div>
        </div>
        <hr>

		<div class="row">
	    	<div class="col-lg-12 text-center">
                <h2><span translate="CONTACTO"></span></h2>
            </div>
        </div>        
	    <div class="row">
	    </div>
	    <hr>
	</div>
</div>   