path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html { 
	overflow-y:scroll; 
}
		
body { 
	padding-top:50px; 
}
        
.span3 {
 	height: 200px !important;
    overflow: scroll;
}

.btn-outline,
.btn-outline-na {
    margin-top: 15px;
    border: solid 2px #428bca;
    font-size: 20px;
    color: #428bca;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #fff;
    background: #428bca;
    opacity: .9;
}

.btn-outline-na:hover, 
.btn-outline-na:focus,
.btn-outline-na:active,
.btn-outline-na.active{
    color: #fff;
    background: #428bca;
    opacity: .3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

 .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

 .intro-text .skills {
    font-size: 2.5em;
    font-weight: 300;
}

 .intro-text .skills-small {
    font-size: 1.5em;
    font-weight: 300;
}